body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    margin: 0;
    padding: 0;
}


/* TOP BAR */
.top-bar {
    background: #111827;
}


/* PROFILE CIRCLE */
.profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: #facc15;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    color: black;
}


/* MENU BUTTON */
.menu-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
}


/* HERO SECTION */
.hero-section {
    height: 85vh;

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1519003722824-194d4455a60c?q=80&w=1200&auto=format&fit=crop');

    background-size: cover;
    background-position: center;
}


/* HERO TEXT */
.hero-section h1 {
    font-size: 4rem;
}

.hero-section p {
    font-size: 1.3rem;
}


/* SERVICE CARDS */
.service-card {
    border-radius: 20px;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}


/* SERVICE ICONS */
.service-icon {
    font-size: 60px;
    color: purple;
}


/* SAFETY SECTION */
.safety-section {
    background: purple;
}


/* SAFETY ICONS */
.safety-icon {
    font-size: 50px;
    color: purple;
}


/* BUTTONS */
.btn-warning {
    border-radius: 50px;
    font-weight: bold;
}


/* FOOTER */
footer {
    margin-top: 0;
}


/* MOBILE RESPONSIVE */
@media(max-width:768px) {

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

}