<!DOCTYPE html>
<html>
<head>
    <title>Book Ride</title>
</head>
<body>

<h1>Book Ride Page</h1>

<form method="post">

    <label>Pickup:</label><br>
    <input type="text" name="pickup"><br><br>

    <label>Drop:</label><br>
    <input type="text" name="drop"><br><br>

    <label>Vehicle:</label><br>
    <select name="vehicle">
        <option>Bike</option>
        <option>Auto</option>
        <option>Cab</option>
    </select><br><br>

    <button type="submit">Book Ride</button>

</form>

</body>
</html>