<!DOCTYPE html>
<html>
<head>
    <title>Ride Status</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>🚗 Ride Status</h2>

    <div class="card">
        <p><b>Status:</b> {{ status }}</p>

        <p>👩 Driver: Anjali</p>
        <p>🚗 Vehicle: Bike</p>
        <p>⭐ Rating: 4.8</p>
    </div>

    <br>

    <a href="/simulate"><button>▶ Start Ride</button></a>
    <br><br>

    <a href="/user/sos">
        <button class="sos">🚨 SOS</button>
    </a>
</div>

</body>
</html>