<!DOCTYPE html>
<html>
<head>
    <title>User Register</title>
</head>
<body>

<h2>User Registration</h2>

<form method="post">
    <input type="text" name="name" placeholder="Name"><br><br>
    <input type="number" name="age" placeholder="Age"><br><br>
    <input type="text" name="location" placeholder="Location"><br><br>
    <input type="text" name="mobile" placeholder="Mobile"><br><br>

    <select name="gender">
        <option>Female</option>
        <option>Male</option>
    </select><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>